registry=https://maven.hmswork.space/repository/npm-group/
//maven.hmswork.space/repository/npm-group/:_authToken=NpmToken.264f8431-f5fc-3418-aea3-8928feb09ce8
//maven-pub.hmswork.space:99/repository/npm-group/:_authToken=NpmToken.264f8431-f5fc-3418-aea3-8928feb09ce8
